<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Pals!</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
     <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" -->

</head>

<body class="w3-light-grey">
    <!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    

  </div>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Patient</h1>
            <p>List of Patients</p>
           
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Look at all of the current Patients</h2>
                <div id="plot"></div>
                {% for pat in patients %}
                
                    <ul><li>{{ pat.id }}-
                        {{ pat.first_name }} {{ pat.last_name }} 
                         <!-- <b>Age:</b> {{pat.age}}  -->
                        <b>Final class:</b> {{pat.covidcl}}
                        <b>Birth date :</b> {{pat.age}}                        
                        <b>age:</b> {{pats[pat.id].ageValue}}
                        <b>age category:</b> {{pats[pat.id].ageCategory}}
                        <b>pheumonia:</b> {{pat.pheumonia}}
                        <b>Intubated:</b> {{pat.intubated}}
                        <b>Diabetes:</b> {{pat.diabetes}}
                        <b>Asthma:</b> {{pat.asthma}}
                        <b>Inmonosup:</b> {{pat.immunosup}}
                        <b>Hypertension:</b> {{pat.hypertension}}
                        <b>Cardiovascular:</b> {{pat.cardiovascular}}
                        <b>Obesity:</b> {{pat.obesity}}
                        <b>Renal Chronic</b> {{pat.renal_chronic}}
                        <b>Tobbaco:</b> {{pat.tobacco}}
                        <b>Closed Contact</b> {{pat.closed_contanct}}
   
                        <p>Risk result: {{pats[pat.id].predicted[1]}}</p>  
                        
                        {% if pats[pat.id].predicted[1] ==1 %}
                        <p>High Risk</p>
                        <!-- <div class="w3-grey">
                            <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
                        </div> -->
                        {% else %}
                        <p>Low Risk</p> 
                        <!-- <div class="w3-grey">
                            <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
                        </div> -->
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="/view">View Patient</a></h2>
                            </div>
                        </div>
                       

                       

                      
                    </li>
                    </ul> 
                
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="/register">Add a Patient</a></h2>
            </div>
        </div>
    </div>

    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>

</html>

